<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Log In</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.1/examples/sign-in/"
    />
    <link href="styles.css" rel="stylesheet" />
    <link href="signin.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <main class="form-signin">
      <h1 class="h2 mb-5 fw-bolder">Please Log in</h1>
      <form action="/login" method="post">
        <input
          class="form-control form-control-md shadow-none mb-4"
          placeholder="Username"
          name="id"
        />
        <input
          type="password"
          class="form-control form-control-md shadow-none"
          placeholder="Password"
          name="pw"
        />
        <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">
          Log in
        </button>
      </form>
    </main>
  </body>
</html>
